.educationSection {
  padding: 4rem 2rem;
  background-color: #f4fafa;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #4F6D7A; /* Updated color to match the text color */
}

.educationGrid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  width: 350px;
  max-width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 2rem;
  color: #2f4f4f;
  margin-bottom: 1rem;
}

.degree {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #4F6D7A; /* Updated color to match the text color */
}

.institution {
  font-weight: 600;
  margin-bottom: 0.2rem;
  color: #4F6D7A; /* Updated color to match the text color */
}

.location {
  font-style: italic;
  margin-bottom: 1rem;
  color: #4F6D7A; /* Updated color to match the text color */
}

.details {
  font-size: 0.95rem;
  color: #4F6D7A; /* Updated color to match the text color */
}
